/* 공용 Css */
/* 나눔명조 폰트 */
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
.p_heading{
    font-family: 'Nanum Myungjo', serif;
    font-size:36px;
    color:#0000;
}
.p_body{
    font-family: 'Nanum Square', serif;
    font-size:24px;
    color:#0000;
}

.register_btn_green,
.register_btn_brown {
  font-family: 'Nanum Square', serif;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 40px;
  display: inline-block;
  margin: 15px 30px;
  line-height: 2.7em;
  font-weight: 600;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.register_btn_green{
    font-size: 24px;
    background-color: #649944;

}
.register_btn_brown{
    font-size: 36px;
    background-color:#d6a651;
}
.register_btn_green:after,
.register_btn_brown:after {
  content: "";
  position: absolute;
  height: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.register_btn_green:before,
.register_btn_brown:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  background-color: inherit;
  border-radius: 10px;
  z-index: -1;
}
.register_btn_green:hover:after,
.register_btn_brown:hover:after {
  height: 100%;
}

/* Home */


.home_title{
    font-family: 'Nanum Myungjo', serif;
    font-size:100px;
    font-weight:bold;
    color:#649944;
}

/* Intro */


.intro_title{
    font-family: 'Nanum Myungjo', serif;
    font-size:60px;
    font-weight:bold;
    color:#d6a651;
}
.intro_box{
    width:800px;
    height:760px;
    background-color: #ffff;
}

.register_brown_btn{

}

/* Book Selection */

.book_selection_heading{
    font-family: 'Nanum Myungjo', serif;
    font-size:30px;
    color:#0000;
}

.book_selection_price{
    font-family: 'Nanum Myungjo', serif;
    font-size:24px;
    color:#649944;
}

.register_green_btn{

}